/* ===============================
   RESET + GLOBAL
================================== */
:root {
	--color-svg: #722393;
	--color-svg-dark: #4f207a;
	--color-canvas: #26b875;
	--color-canvas-dark: #158d54;
  --color-blue: #003a9a;
  --color-blue-2: #0a587c;
  --color-error: #da31cf;
  --color-success: #2ECACE;
  --color-white: #fff;
	--color-dark-gray: #292929;
	--color-dark-gray-2: #1c1c1c;
  --color-light-gray: #9e9e9e;
  --color-muted: #584c5c;
}

/* Canvas Theme */
body[data-board-type="canvas"] {
	--theme-primary: var(--color-canvas);
	--theme-primary-dark: var(--color-canvas-dark);
	--theme-border: var(--color-blue-2);
}

/* SVG Theme */
body[data-board-type="svg"] {
	--theme-primary: var(--color-svg);
	--theme-primary-dark: var(--color-svg-dark);
	--theme-border: var(--color-blue);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 16px "Raleway", sans-serif;
  background-color: var(--color-dark-gray-2);
  color: var(--color-white);
  overflow-x: hidden;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  background-color: var(--color-dark-gray);
  margin: 0 0 1.25rem;
  padding: 1.25rem 0 .75rem;
	border-bottom: 4px solid var(--theme-primary);
}

/* ===============================
   TYPOGRAPHY
================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem }
h3 { font-size: 1.5rem }
h4 { font-size: 1.25rem }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

p {
  margin: 0 0 1rem;
  font: 400 1rem "Raleway", sans-serif;
  line-height: 2rem;
  color: var(--color-white);
}

/* ===============================
   STRUCTURAL ELEMENTS
================================== */
svg {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  color: var(--theme-primary);
  font-weight: 600;
}

legend + * {
  clear: left;
}

form {
  margin: 2rem 0;
}

label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--color-muted);
  transition: all 0.3s ease-in-out;
  touch-action: manipulation;
}



/* ===============================
   INPUTS
================================== */
input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

input[type=text],
input[type=search],
input[type=email],
input[type=password],
input[type=number],
input[type=tel] {
  width: 100%;
  max-height: 3.125rem;
  padding: 1rem;
  font-size: 0.875rem;
  color: var(--color-white);
  background-color: var(--color-white);
  border: 2px solid var(--theme-border);
  border-radius: 0.375rem;
  cursor: text;
  outline: none;
  transition: all 0.3s ease-in-out;
}

input.error {
  border-color: var(--color-error);
}

input.success {
  border-color: var(--color-success);
}

input[readonly] {
  background-color: var(--color-muted);
  color: var(--color-dark-gray);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-text-fill-color: var(--color-white);
  box-shadow: 0 0 0px 1000px var(--color-error) inset;
  transition: background-color 5000s ease-in-out;
}

button {
  border-radius: 0;
	text-transform: none;
	cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

.radio-check-container {
  position: relative;
  display: block;
}

.radio-check-container .message-error {
  display: block;
  margin: 0.5rem 1.75rem;
}

/* ===============================
   FORM COMPONENTS
================================== */
.form__group {
  position: relative;
  display: flex;
  flex-flow: column;
}

.form__field {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0.25rem;
}

.form__field-error {
  position: absolute;
  color: var(--color-error);
  font-size: 0.75rem;
  font-weight: 600;
  bottom: -1.25rem;
}

.form__field-range {
  position: relative;
  display: flex;
  align-items: center;
  margin: 3rem 0 1rem;
}

.form__field-range > * {
  flex: 1;
}

.form__field-range label {
  position: absolute;
  top: -1.625rem;
}

.form__indicator {
  color: var(--theme-border);
  font-size: 0.75rem;
  font-weight: 700;
  max-width: 3.125rem;
  padding-left: 1.25rem;
  text-align: right;
}

.form__footer {
  margin-top: 1.5625rem;
  align-items: center;
}

/* Checkbox */
.form__field-checkbox {
  z-index: 0;
  margin: 0.625rem 0;
}

.form__field-checkbox label {
  padding-left: 2.5rem;
  position: relative;
}

.form__field-checkbox label::before,
.form__field-checkbox label::after {
  content: "";
  position: absolute;
  transition: all 0.25s ease-in-out;
}

.form__field-checkbox label::after {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.375rem;
  height: 1.375rem;
  border: 3px solid var(--color-light-gray);
  border-radius: 0.1875rem;
}

.form__field-checkbox label::before {
  z-index: 1;
}

.form__field-checkbox input[type=checkbox] {
  min-width: initial;
  display: none;
  opacity: 0;
}

.form__field-checkbox input[type=checkbox] + label {
  z-index: 0;
}

.form__field-checkbox input[type=checkbox][disabled] + label {
  cursor: not-allowed;
  color: #818181;
}

.form__field-checkbox input[type=checkbox] + label::before {
  width: 12.22px;
  height: 6.8px;
  left: 0.3125rem;
  top: calc(50% - 1.5px);
  transform: translateY(-50%) rotate(-45deg) scale(0, 0);
  border: 3px solid var(--theme-primary);
  border-top-style: none;
  border-right-style: none;
}

.form__field-checkbox input[type=checkbox]:checked + label::before {
  transform: translateY(-50%) rotate(-45deg) scale(1, 1);
}

.form__field-checkbox input[type=checkbox]:checked + label::after {
  border-color: var(--theme-primary);
}

.form__field-checkbox input[type=checkbox]:disabled + label::after {
  background-color: #818181;
}

/* ===============================
   BUTTONS
================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: 700 0.875rem "Raleway", sans-serif;
  padding: 0.875rem 2rem;
  min-height: 3rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--theme-primary);
	border: 2px solid var(--theme-primary);
}

.btn-switch-canvas,
.btn-switch-svg {
  color: var(--color-white);
  background-color: var(--color-dark-gray);
	border: 2px solid var(--color-white);
}

.btn-switch-canvas.btn-switch--active {
  color: var(--color-white);
  background-color: var(--color-canvas);
	border: 2px solid var(--color-canvas);
}

.btn-switch-canvas.btn-switch--active:hover {
  background-color: var(--color-canvas-dark);
}

.btn-switch-svg.btn-switch--active {
  color: var(--color-white);
  background-color: var(--color-svg);
	border: 2px solid var(--color-svg);
}

.btn-switch-svg.btn-switch--active:hover {
  background-color: var(--color-svg-dark);
}

.btn-block {
  width: 100%;
}

.btn-switch-group {
  display: inline-flex;
  gap: 0.5rem;
}

.btn-controls-open,
.btn-controls-close {
  position: absolute;
  padding: 0;
  min-height: 2.5rem;
  width: 2.5rem;
}

.btn-controls-open {
  top: 2rem;
  right: 2rem;
	color: var(--color-white);
	background: var(--theme-primary);
  transform: rotate(90deg);
  border: 2px solid var(--theme-primary-dark);
  font-size: 1.25rem;
}

.btn-controls-close {
  right: 2px;
  top: 2px;
	color: var(--theme-primary);
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-controls-close::before {
  content: "\00d7";
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1;
}

/* ===============================
   RANGE INPUT
================================== */
/* RANGE INPUT */
[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}

[type=range]:focus {
  outline: none;
}

/* Track (Webkit) */
[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: var(--theme-border);
  border-radius: 0.125rem;
  transition: background 0.2s ease;
}

[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--theme-border);
}

/* Thumb (Webkit) */
[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.125rem;
  width: 1.125rem;
  margin-top: -7px; /* Align thumb vertically with track */
  background: var(--color-white);
  border: 3.5px solid var(--theme-primary);
  border-radius: 50%;
  cursor: pointer;
}

/* Track (Mozilla) */
[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  background: var(--theme-border);
  border-radius: 0.125rem;
  transition: background 0.2s ease;
}

[type=range]:focus::-moz-range-track {
  background: var(--theme-border);
}

/* Thumb (Mozilla) */
[type=range]::-moz-range-thumb {
  height: 1.125rem;
  width: 1.125rem;
  background: var(--color-white);
  border: 3.5px solid var(--theme-primary);
  border-radius: 50%;
  cursor: pointer;
}

/* Track (MS / IE) */
[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

[type=range]::-ms-fill-lower,
[type=range]::-ms-fill-upper {
  background: var(--theme-border);
  border-radius: 0.125rem;
}

[type=range]:focus::-ms-fill-upper {
  background: var(--theme-border);
}

/* Thumb (MS / IE) */
[type=range]::-ms-thumb {
  height: 1.125rem;
  width: 1.125rem;
  background: var(--color-white);
  border: 3.5px solid var(--theme-primary);
  border-radius: 50%;
  cursor: pointer;
}

/* Disabled */
[type=range]:disabled::-webkit-slider-thumb,
[type=range]:disabled::-moz-range-thumb,
[type=range]:disabled::-ms-thumb {
  cursor: not-allowed;
  background: var(--color-light-gray);
}

[type=range]:disabled::-webkit-slider-runnable-track,
[type=range]:disabled::-moz-range-track,
[type=range]:disabled::-ms-fill-lower,
[type=range]:disabled::-ms-fill-upper {
  background: var(--color-light-gray);
  cursor: not-allowed;
}


/* ===============================
   COMPONENTS
================================== */
#boardWrapper {
	height: calc(100vh - 220px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__brand {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.header__logo {
	width: 2rem;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 0.75rem;
  margin: 0 auto;
}

.playground {
  position: relative;
	background-color: var(--color-dark-gray);
  padding: 1rem;
  overflow: hidden;
}

.playground__wrapper {
  height: 100%;
}

.controls__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.controls {
  position: absolute;
  top: 2rem;
  right: 2rem;
  max-width: 20rem;
  width: 100%;
  background-color: var(--color-white);
  border: 2px solid var(--theme-border);
  padding: 1rem;
  border-radius: .5rem;
  z-index: 999;
  transition: right 0.3s ease-in-out;
}

.controls--hidden {
  right: calc(-100% - 1rem);
}

.cascade-waves__tile {
  position: relative;
  fill: #423f40;
  stroke: #666;
  z-index: 10;
}

.cascade-waves__tile rect {
  transition: transform 0.25s;
}

.cascade-waves__tile--active {
  z-index: 3;
  animation: colors 0.5s ease-in-out, beat 0.5s ease-in-out;
}

.cascade-waves__root-grid {
  fill: transparent;
}

.fps-counter {
	display: flex;
	align-items: center;
	justify-content: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: var(--color-white);
	background-color: var(--color-dark-gray);
	border: 2px solid var(--theme-primary);
  border-radius: 0.25rem;
  padding: 0.5rem;
	height: 2.5rem;
	width: 5.5rem;
	font-size: 0.75rem;
	line-height: 1;
	z-index: 999;
}

.fps-counter span {
  font-weight: 700;
	font-size: 1rem;
	line-height: 1;
}

@keyframes colors {
  0% { stroke: #584c5c; fill: #423f40; }
  50% { stroke: #cd91ff; fill: #8413af; }
  100% { stroke: #584c5c; fill: #423f40; }
}

@keyframes beat {
  0% { transform: scale(1); }
  20% { transform: scale(0.2); }
  100% { transform: scale(1); }
}

@keyframes inverse-beat {
  0% { transform: scale(0); opacity: 1; }
  10% { transform: scale(1); }
  99.9% { opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}

@keyframes spin {
  0% { transform: rotateX(0); }
  100% { transform: rotateX(180deg); }
}

@media (prefers-reduced-motion: reduce) {
	input:-webkit-autofill {
		transition: none;
	}

	label {
    transition: none;
  }

	.cascade-waves__tile--active {
		transition: none;
	}

	.form__field-checkbox label::before {
    transition: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media (min-width: 1200px) {
  legend { font-size: 1.5rem; }
}

@media (max-width: 900px) {
	h1 {
		font-size: 1.5rem;
	}

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

	header {
		margin: 0 0 .75rem;
  	padding: 1rem 0 .25rem;
	}

	.header__wrapper {
		flex-direction: column;
		margin-bottom: 1rem;
	}

	.btn {
		padding: 0.25rem .5rem;
	}

	.btn-switch-group {
		width: 100%;
	}

	.btn-switch-group .btn {
		flex: 1;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 1.25rem;
	}

	.header__title {
		align-self: flex-start;
	}

	.header__title p {
		display: none;
	}

	#boardWrapper {
		height: calc(100vh - 170px);
	}
}